full-version/AgileDev_API/projectTwo/obj/Debug/netcoreapp3.1/projectTwo.csprojAssemblyReference.cache
full-version/AgileDev_API/.vs/projectTwo/v16/.suo
full-version/AgileDev_API/.vs/projectTwo/DesignTimeBuild/.dtbcache.v2
full-version/AgileDev_API/projectTwo/bin/Debug/netcoreapp3.1/projectTwo.dll
full-version/AgileDev_API/projectTwo/bin/Debug/netcoreapp3.1/projectTwo.pdb
full-version/AgileDev_API/projectTwo/obj/Debug/netcoreapp3.1/staticwebassets
full-version/AgileDev_API/projectTwo/obj/Debug/netcoreapp3.1
full-version/AgileDev_API/projectTwo/obj/project.nuget.cache
